/*-- scss:defaults --*/

$margin-exr-sol: 6px !default;


/*-- scss:rules --*/

.exercise,
.solution {
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
}
.exercise:not(:last-child) {
    margin-bottom: 1rem;
}

.exercise>:first-child,
.solution>:first-child {
    margin-top: $margin-exr-sol;
}
.exercise>:last-child,
.solution>:last-child {
    margin-bottom: $margin-exr-sol;
}
.exercise>.cell:last-child .cell-output pre,
.solution>.cell:last-child .cell-output pre {
    margin-bottom: 0px;
}
.exercise>:not(.cell),
.solution>:not(.cell) {
    margin-left: $margin-exr-sol;
    margin-right: $margin-exr-sol;
}
